<div class="row col-4">
	<label for="code" class="form-label">Code</label> 
	<input type="text" class="form-control" th:field="*{code}" id="code" placeholder="Code" autofocus="true"> 
	<span th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="text-danger"></span> 
	<br/>
</div>
<div class="row col-12">
	<label for="name" class="form-label">Name</label>
	<input type="text" class="form-control" th:field="*{name}" name="name" id="name" placeholder="Name" > 
	<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span> 
	<br/>
</div>
<div class="row col-12">
	<label for="releaseDate" class="form-label">Release Date</label>
	<input type="date" class="form-control" th:field="*{releaseDate}" th:name="releaseDate" > 
	<span th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}" class="text-danger"></span> 
	<br/>
</div>
<div class="row col-12">
	<label for="name" class="form-label">Brand</label>
	<!-- <input type="text" class="form-control" th:field="*{brand}" name="brand" id="brand" placeholder="Brand" > -->
	<select th:name="brand" class="form-control" th:field="*{brand}">
		<option th:value="*{brand?.getId()}" th:text="*{brand?.getCode()}"></option>
	</select>
	<span th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" class="text-danger"></span> 
	<br/>
</div>

<script type="text/javascript">
	$(document).ready(function() {
	    $("#brand").select2({
	        theme: "bootstrap4",
	        ajax: {
	            url: '/ac/brandS2',
				data: function (params) {
					var query = {
						q: params.term
						// , type: 'public'
					}
					// Query parameters will be ?search=[term]&type=public
					return query;
				},
	            dataType: 'json',
	            // delay: 250,
	            processResults: function (response) {
	                return {
	                    results: response
	                };
	            }
	            // , cache: true
	        }
	    });	
	});
</script>