<!DOCTYPE html>
<html
	layout:decorate="~{shared/layout}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Paginated Brand</title>
</head>
<body>
	<div layout:fragment="content">
		<section class="content-header">
			<div class="container-fluid">
				<!-- <h1>Create Brand</h1> -->
			</div>
		</section>
		<section class="content">
			<div class="container-fluid">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Brand</h3>
						<div class="card-tools">
							<a href="/brand/create"><span class="fas fa-plus"></span> Create</a>
						</div>
					</div>
					<!-- <div class="card-body table-responsive p-0" style="height: 350px;"> -->
					<div class="card-body" >
<table class="table table-head-fixed table-hover">
	<thead>
		<tr>
			<th>Code</th>
			<th>Name</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>

		<tr th:each="brand : ${brandPage.content}">
			<td th:text="${brand.code}"></td>
			<td th:text="${brand.name}"></td>
			<td><a th:href="@{/brand/edit/{id}(id=${brand.id})}">Edit</a></td>
			<td><a th:href="@{/brand/delete/{id}(id=${brand.id})}">Delete</a></td>
		</tr>
	</tbody>
</table>
<hr/>
<ul th:if="${brandPage.totalPages > 0}" class="pagination">
    <li class="page-item" th:each="pageNumber : ${pageNumbers}">
    <a class="page-link" th:href="@{/brand/bpaging(size=${brandPage.size}, page=${pageNumber})}"
        th:text=${pageNumber}></a>
    </li>
</ul>

					</div> <!-- /.card-body -->
					<div class="card-footer">
						<!-- <input type="submit" class="btn btn-primary" value="Create"> -->
					</div> 
				</div> <!-- /.card -->
			</div> <!-- /.container-fluid -->
		</section>
	</div>
</body>
</html>