<link href="/AdminLTE-3.1.0/plugins/fontawesome-free/css/all.min.css" rel="stylesheet">
<!-- Ionicons -->
<!-- <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"> -->
<!-- Tempusdominus Bootstrap 4 -->
<link href="/AdminLTE-3.1.0/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet">
<!-- iCheck -->
<link href="/AdminLTE-3.1.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet">
<!-- JQVMap -->
<link href="/AdminLTE-3.1.0/plugins/jqvmap/jqvmap.min.css" rel="stylesheet">
<!-- Theme style -->
<link href="/AdminLTE-3.1.0/dist/css/adminlte.min.css" rel="stylesheet">
<!-- overlayScrollbars -->
<link href="/AdminLTE-3.1.0/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" rel="stylesheet">
<!-- Daterange picker -->
<link href="/AdminLTE-3.1.0/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
<!-- summernote -->
<link href="/AdminLTE-3.1.0/plugins/summernote/summernote-bs4.css" rel="stylesheet">
<!-- Google Font: Source Sans Pro -->
<!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet"> -->

<!-- select2 -->
<link href="/AdminLTE-3.1.0/plugins/select2/css/select2.min.css" rel="stylesheet">
<link href="/AdminLTE-3.1.0/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet">
